body {
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    background-image: url(../img/back.png);
    background-size: cover;
}

header {
    background: #FAFAFA;
    border-bottom: 1px solid rgb(214, 214, 214);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

header a {
    padding: .5vh;
    width: 20%;
    display: inline-block;
    text-align: center;
    margin-left: -3px;
    box-sizing: border-box;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: rgb(58, 193, 255);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

a {
    text-decoration: none;
    color: rgb(58, 193, 255);
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin-left: 4%;
    background-color: black;
    font-size: 80%;
}

.container2 {
    padding: 16px;
}

span.psw {
    float: right;
    margin-right: 4%;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.content {
    width: 100%;
    padding-top: 4%;
    border-bottom: 1px solid rgb(139, 139, 139);
}

.profile {
    width: 100%;
    display: flex;
    flex-direction: row;
}

img {
    margin: auto;
    margin-top: 3%;
    width: 19%;
    display: flex;
}

header a .fas:hover {
    color: rgb(102, 212, 255);
}

header a .fas:click {
    width: 20%;
}

.fas {
    color: black;
}

.container {
    width: 50%;
    padding-top: 2%;
    z-index: 1;
    margin: 5% auto;
}

.circle {
    background: #FAFAFA;
    height: 14vh;
    width: 14vh;
    position: relative;
    border-radius: 50%;
    border: 1px solid #222;
    margin-left: 1%;
    margin-top: auto;
    margin-bottom: auto;
}

.user-d {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
}

.usern {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    width: 80%;
    height: 10%;
    margin-bottom: 12px;
}

.unamed {
    font-family: 'Oswald', sans-serif;
    width: 80%;
    height: 10%;
}

.booth {
    width: 40%;
    background: white;
    border: 1px solid rgb(214, 214, 214);
    margin: 0 auto;
    text-align: center;
}

.video {
    margin-bottom: 2vh;
}

.capturebtn {
    color: white;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border: none;
    display: block;
    cursor: pointer;
    width: 100%;
    background: rgb(58, 193, 255);
    margin-top: 10%;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    margin-bottom: 2%;
}

#canvas {
    width: 100%;
}

#myBtn .fas {
    font-size: 140%;
}

#myBtn .fas:hover {
    color: rgb(102, 212, 255);
}

.modal {
    display: none;
    position: fixed;
    z-index: 99;
    padding-top: 1%;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    background-color: rgb(58, 193, 255);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 55%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.errorbox {
    text-align: center;
}

.logbutton {
    background-color: rgb(58, 193, 255);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.logbutton:hover {
    opacity: 0.8;
}

.details {
    width: 50%;
    margin: 0 auto;
}

.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.style {
    text-align: center;
}

.style p {
    color: black;
    font-size: 4vh;
}

.superheader {
    font-size: 9vw;
    margin-top: -7vh;
}

h4 {
    margin: 0;
}

.landinginfo {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 15%;
}