body {
    font-family: 'Oswald', sans-serif;
}

header {
    background: #FAFAFA;
    border-bottom: 1px solid rgb(214, 214, 214);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

header a {
    padding: .5vh;
    width: 20%;
    display: inline-block;
    text-align: center;
    margin-left: -3px;
    box-sizing: border-box;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: rgb(58, 193, 255);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

a {
    text-decoration: none;
    color: rgb(141, 52, 52);
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin-left: 4%;
    background-color: black;
    font-size: 80%;
}

.container2 {
    padding: 16px;
}

span.psw {
    float: right;
    margin-right: 4%;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.container .frame .logobox {
    width: 100%;
    height: 15%;
    text-align: center;
    padding-bottom: 1.5vh;
    border-bottom: 1px solid rgb(214, 214, 214);
    display: flex;
    background-color: white;
}

img {
    margin: auto;
    margin-top: 3%;
    width: 19%;
    display: flex;
}

header a .fas:hover {
    color: rgb(102, 212, 255);
}

header a .fas:click {
    width: 20%;
}

.fas {
    color: black;
}

.container {
    width: 100%;
    position: absolute;
    padding-top: 5%;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.frame {
    border: 1px solid #CCC;
    margin: 0 auto;
    background: white;
    width: 100%;
}

.profile {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #222;
    display: flex;
    flex-direction: row;
}

.circle {
    background: #FAFAFA;
    height: 14vh;
    width: 14vh;
    position: relative;
    border-radius: 50%;
    border: 1px solid #222;
    margin-left: 1%;
    margin-top: auto;
    margin-bottom: auto;
}

.user-d {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
}

.usern {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    width: 80%;
    height: 10%;
    margin-bottom: 12px;
}

.unamed {
    font-family: 'Oswald', sans-serif;
    width: 80%;
    height: 10%;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1);
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55);
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1);
    }
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    top: 0;
    margin: auto;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #6fb9ff 20%, #e3edff 80%);
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.bgBottom {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.booth {
    width: 40%;
    background: white;
    border: 1px solid rgb(214, 214, 214);
    margin: 0 auto;
    text-align: center;
}

.video {
    margin-bottom: 2vh;
}

.capturebtn {
    color: white;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border: none;
    display: block;
    cursor: pointer;
    width: 100%;
    background: rgb(58, 193, 255);
    margin-top: 10%;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    margin-bottom: 2%;
}

#canvas {
    width: 100%;
}

#myBtn .fas {
    font-size: 140%;
}

#myBtn .fas:hover {
    color: rgb(102, 212, 255);
}

.modal {
    display: none;
    position: fixed;
    z-index: 99;
    padding-top: 1%;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    background-color: rgb(58, 193, 255);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 55%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.errorbox {
    text-align: center;
}

.logbutton {
    background-color: rgb(58, 193, 255);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.logbutton:hover {
    opacity: 0.8;
}

.details {
    width: 50%;
    margin: 0 auto;
}